.div-partidas {
  background: url("../../../../assets/img/painel-placar.png") no-repeat 0% 10%;
  height: auto;
  width: auto;
  padding: 0.5rem;
  margin: 1rem;
}

ion-col {
  img.logo {
    text-align: center;
  }
}

p {
  margin: 0;
}

.align-center {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

.logo {
  height: 5rem;
  width: auto;
  margin: auto;
}

.nome-time {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.nome-liga {
  color: #fff;
  font-size: 1rem;
  font-family: "Master-Thin";
  text-transform: uppercase;
  text-align: center;
}

.data {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: "Master-Bold";
  text-align: center;
}

.nome-estadio {
  color: #fff;
  font-size: 0.8rem;
  word-wrap: normal;
}

.placar {
  background-color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 3rem;
  font-family: "Master-Bold";
  color: var(--ion-color-primary);
}

.div-horario {
  background-color: #fff;
  height: 5vh;
  width: 12.5vh;
  margin: auto;
  margin-top: 1.5vh;
  border-radius: 5px;
  p.horario {
    font-size: 3.5vh;
    color: #009035;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    line-height: 4.5vh;
    font-family: "Master-Bold";
  }
}

p {
  margin: 0;
}

ion-grid {
  margin: 0;
  height: 100%;
  ion-col {
    padding: 0;
    margin: 0;
  }
  ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.titulo {
  font-family: "Master-Bold";
  color: var(--ion-color-primary);
  font-size: 2.5vh;
  font-weight: 600;
  margin: 0.7vh;
}
