.profile {
    height: 30%;
    ion-avatar {
        height: 20vh;
        width: 20vh;
        display: block;
        margin: auto;
        margin-top: 4vh;
        border: white 2.5px solid;
        border-radius: 50%;
    }
}

ion-row {
    margin-bottom: 2vh;
}

.white {
    color: white;
}

.nome {
    font-size: 3vh;
    font-family: 'Master-Bold';
}

.margin {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 3.5;
    margin-top: 1.3vh;
}

.titulo {
    font-family: 'Master-Bold';
    font-size: 2vh;
}

.valor {
    font-size: 2.1vh;
}

p,
ion-label {
    margin: 0;
    padding: 0;
    color: white;
}

.logo {
    height: 17vh;
    width: auto;
    margin-top: 3vh;
}