.container-noticia {
    p {
        margin: 0;
        padding: 0;
    }
    ion-card {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgba(255, 255, 255, 0.1);
        height: 37vh;
        width: 95%;
        margin: 0;
        padding: 0;
        img {
            min-height: 40%;
            max-height: 40%;
            width: 100%;
        }
        .horario {
            text-align: right;
            font-size: 1.3vh;
            display: inline;
            color: rgb(102, 102, 102);
        }
        ion-card-header {
            padding: 2px 5px 2px 5px;
            .titulo-noticia {
                font-size: 1.8vh;
                font-family: 'Master-Bold';
                text-align: center;
                margin-top: 3%;
                white-space: break-spaces;
            }
        }
        ion-card-content {
            padding: 0 5px 0 5px;
            .texto-noticia {
                font-size: 1.9vh;
                font-family: "Master-Bold";
                color: rgb(85, 85, 85);
                text-align: justify;
            }
        }
    }
}