<ng-container *ngIf="build.id">
    <div (click)="goTo(build)" class="container-noticia">
        <ion-card>
            <img src={{build.image}} />
            <ion-card-header>
                <ion-card-title>
                    <p *ngIf="!whiteLabel.app.isWordpress" class="titulo-noticia">
                        {{ (build.title.length>40)? (build.title | slice:0:40)+'...':(build.title) }}
                    </p>
                    <p *ngIf="whiteLabel.app.isWordpress" class="titulo-noticia" [innerHtml]="
                    (build.title.length>40)? (build.title | slice:0:40)+'...':(build.title)
                    "></p>
                </ion-card-title>
            </ion-card-header>
            <ion-card-subtitle>
                <p class="horario">{{build.date | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
            </ion-card-subtitle>
            <ion-card-content>
                <p *ngIf="!whiteLabel.app.isWordpress" class="texto-noticia">
                    {{ (build.text.length>100)? (build.text | slice:0:100)+'...':(build.text) }}
                </p>
                <p *ngIf="whiteLabel.app.isWordpress" class="texto-noticia" [innerHtml]="(build.text.length>100)? (build.text | slice:0:100)+'...':(build.text)"></p>
            </ion-card-content>
        </ion-card>
    </div>
</ng-container>